/*
@name: settings
*
@description: 
* The global settings file. Just use variables here
*
*/

// Typo
$global-font-family: sans-serif; 

// Colors
$global-color-text: #333;

// Layout
$global-max-width: 1280px; 
