{#
@name: formElements
*
@description: This component provides several form elements by passing parameters
*
@params: 
* element: text | email | select
* label: $string
* name: $string
*
#}

<link rel="stylesheet" property="stylesheet" href="patterns/atoms/formElements/css/formElements.css">

{% if element == 'text' %}
<label class="formElements__label"></label>

{% elseif element == 'email' %}

{% elseif element == 'select' %}

{% endif %}