{#
@name: pageFooter
*
@description: The footer for all common pages
*
@params:
* text: $string
*
#}

<link rel="stylesheet" property="stylesheet" href="patterns/organisms/pageFooter/css/pageFooter.css">

<footer class="pageFooter">
    <p>{{ text | raw }}</p>
</footer>