{#
@name: templateIndex
*
@description: The layout for the start page
*
#}

<link rel="stylesheet" property="stylesheet" href="patterns/templates/templateIndex/css/templateIndex.css">

{% embed "organisms/pageHeader/pageHeader.twig" with {
    headline: data.header.text
} %}{% endembed %}

<main class="templateIndex__main">
    <h2 class="templateIndex__main__headline">
        {{ data.main.headline | raw }}
    </h2>
    {{ data.main.text | raw }}

    <p>
        {% embed "atoms/atomButton/atomButton.twig" with {
        text: data.main.buttons.first.text,
        element: 'button',
        type: 'button'
    } %}{% endembed %}
    </p>

    <p>
        {% embed "atoms/atomButton/atomButton.twig" with {
        text: data.main.buttons.second.text,
        element: 'anchor',
        href: '#',
        title: 'I\'m a title'
    } %}{% endembed %}
    </p>

    {{ data.main.text2 | raw }}

</main>

{% embed "organisms/pageFooter/pageFooter.twig" with {
    text: data.footer.text
} %}{% endembed %}