{#
@name: templateIndex
*
@description: The layout for the start page
*
#}

<link rel="stylesheet" property="stylesheet" href="patterns/templates/templateIndex/css/templateIndex.css">

{% embed "organisms/pageHeader/pageHeader.twig" with {
    headline: data.header.text
} %}{% endembed %}

<main class="templateIndex__main">
    <h2 class="templateIndex__main__headline">
        {{ data.main.headline }}
    </h2>
    <p>{{ data.main.text }}</p>
</main>

{% embed "organisms/pageFooter/pageFooter.twig" with {
    text: data.footer.text
} %}{% endembed %}