{#
@name: templateIndex
*
@description: The layout for the start page
*
@acceptsParams: 
* headline: $string
*
#}

<header class="templateIndex__header" role="banner">
    <h1>{{ headline }}</h1>
</header>