{#
@name: pageHeader
*
@description: The layout for the start page
*
@acceptsParams: 
* headline: $string
*
#}

<link rel="stylesheet" property="stylesheet" href="patterns/organisms/pageHeader/css/pageHeader.css">

<header class="pageHeader" role="banner">
    <h1  class="pageHeader__headline">{{ headline }}</h1>
</header>